<%# cache("header") do %>
<div class="loading-page">
  <span class="load-btn">
    <div class="load-gif"></div>
    <p>页面正在加载中...</p>
  </span>
</div>
<!-- Start Navigation -->
<nav class="navbar navbar-default navbar-fixed navbar-transparent dark bootsnav">

  <!-- Start Top Search -->
  <div class="top-search">
    <div class="container">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="请输入关键字">
        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
  <!-- End Top Search -->

  <div class="container">            
    <!-- Start Atribute Navigation -->
    <div class="attr-nav">
      <ul>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" >
            <i class="fa fa-globe"></i>
          </a>
        </li>
        <li class="search"><a href="javascript:void(0);"><i class="fa fa-search"></i></a></li>
        <li class="side-menu"><a href="javascript:void(0);"><i class="fa fa-bars"></i></a></li>
      </ul>
    </div>
    <!-- End Atribute Navigation -->

    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
      </button>
      <div class="navbar-brand">
        <a href="/">
          <%= image_tag("share/header2.png", :class => "logo-display" ) %>
          <%= image_tag("share/header.png", :class => "logo-scrolled" ) %>
        </a>
      </div>
    </div>
    <!-- End Header Navigation -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
        <li><a href="/">首页</a></li>
        <li><a href="/products">产品中心</a></li>
        <li><a href="/customizes">定制中心</a></li>
        <li><a href="/partners">合作伙伴</a></li>
        <li><a href="/about">关于旺科达</a></li>
      </ul>
    </div>
    <!-- End nav collect -->
  </div>   

  <!-- Start Side Menu -->
  <div class="side">
    <a href="javascript:void(0);" class="close-side"><i class="fa fa-times"></i></a>
    <div class="widget">
      <h6 class="title">关于旺科达</h6>
      <ul class="link">
        <li><a href="/contact">联系我们</a></li>
        <li><a href="/jobs">诚聘英才</a></li>
      </ul>
    </div>
    <div class="widget">
      <h6 class="title">旺科达动态</h6>
      <ul class="link">
        <li><a href="/dynamics">行业动态</a></li>
        <li><a href="/news">新闻与杂志</a></li>
      </ul>
    </div>
    <div class="widget">
      <h6 class="title">售后服务</h6>
      <ul class="link">
        <li><a href="/service">售后服务</a></li>
        <li><a href="/faq">常见问题</a></li>
        <li>
          <a href="tel:15014146191">
            <i class="fa fa-phone"></i> 15014146191
          </a>
        </li>
      </ul>
    </div>
    <div class="widget">
      <h6 class="title">关注我们</h6>
      <ul class="link">
        <li>
          <a class="wechat" href="javascript:void(0);" title="jam_mall">
            <i class="fa fa-weixin"></i> 官方微信
          </a>
        </li>
        <li>
          <a href="http://weibo.com/u/3756654010" title="深圳旺科达">
            <i class="fa fa-weibo"></i> 新浪微博
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Side Menu -->
</nav>
<!-- End Navigation -->
<div class="clearfix"></div>

<!-- Start Home -->
<div class="pageheader fixed-demo dark">
  <div class="container">
    <div class="section jam-index-body">
      <div class="row">
        <div class="col-md-12">
          <ol class="menu-demo">
            <li class="col-md-4 col-sm-4 header-slider">
              <h2 class="title">
                <a class="btn btn-success btn-large" href="/download"><i class="fa fa-weixin"></i>  微信公众号</a>
              </h2>
              <p>深圳旺科达玻璃</p>
              <h2 class="title">
                <a class="btn btn-success btn-large" href="https://itunes.apple.com/us/app/%E4%BD%B3%E5%AE%89%E7%BE%8E%E6%99%BA%E6%8E%A7/id1314751955?l=zh&ls=1&mt=8"><i class="fa fa-weixin"></i>  微信小程序</a>
              </h2>
              <p>深圳旺科达玻璃</p>
            </li>

            <li class="col-md-4 col-sm-4 header-slider">
              <h2 class="text-slogan">专业生产加工</h2>
              <p>电子视窗片</p>
              <p>光学菱镜片</p>
              <p>光学球面镜片</p>
              <p>光学柱面镜片</p>
              <p>水晶彩色镜片</p>
              <p>玻璃盖板</p>
              <p>
                <a class="btn btn-success btn-large" href="tel:15014146191">
                  <i class="fa fa-phone"></i>  立即咨询
                </a>
              </p>
            </li>

            <li class="col-md-4 col-sm-4 header-slider">
              <div class="lock-intro">
                <div id="header_carousel" class="carousel slide">
                <%- if @carousels.empty? -%>
                  <!-- 轮播（Carousel）指标 -->
                  <ol class="carousel-indicators">
                    <li data-target="#header_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header_carousel" data-slide-to="1"></li>
                    <li data-target="#header_carousel" data-slide-to="2"></li>
                  </ol>   
                  <!-- 轮播（Carousel）项目 -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="center">
                        <img src="<%= image_path('carousel/factory1.jpg') %>">
                      </div>
                    </div>
                    <div class="item">
                      <div class="center">
                        <img src="<%= image_path('carousel/factory2.jpg') %>">
                      </div>
                    </div>
                    <div class="item">
                      <div class="center">
                        <img src="<%= image_path('carousel/factory3.jpg') %>">
                      </div>
                    </div>
                  </div>
                <%- else -%>
                <!-- 轮播（Carousel）指标 -->
                  <ol class="carousel-indicators">
                  <%- (0..@carousels.length-1).each do |i| -%>
                    <li data-target="#header_carousel" data-slide-to="<%= i %>" class="<%= i==0 ? "active": "" %>"></li>
                  <%- end -%>
                  </ol>   
                  <!-- 轮播（Carousel）项目 -->
                  <div class="carousel-inner">
                  <%- @carousels.each_with_index do |carousel, j| -%>
                    <div class="item <%= j==0 ? "active": "" %>">
                      <div class="center">
                        <img src="<%= image_path(carousel.url(:thumb)) %>">
                      </div>
                    </div>
                  <%- end -%>
                  </div>
                <%- end -%>
                  <!-- 轮播（Carousel）导航 -->
                  <a class="carousel-control center-vertical left" href="#header_carousel" 
                     data-slide="prev"><i class="fa fa-arrow-circle-left"></i></a>
                  <a class="carousel-control right" href="#header_carousel" 
                     data-slide="next"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Home -->
<div class="clearfix"></div>

<%# end %>