<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>旺科达 - 诚聘英才</title>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" />
  <meta name="keywords" content="深圳，旺科达，深圳旺科达，玻璃十大品牌，专业生产玻璃制造商，玻璃厂家, 出口，外贸，电子视窗片，光学菱镜片，光学球面镜片，光学柱面镜片，水晶彩色镜片，玻璃盖板，玻璃加工" />
  <meta name="description" content="深圳，旺科达，深圳旺科达，玻璃十大品牌，专业生产玻璃制造商，玻璃厂家, 出口，外贸，原厂，专业，材料，肖特材料，B270，K9材料，康宁材料，超白玻璃" />
  <meta name="baidu-site-verification" content="kZBgoRwKlb" />
  <%= stylesheet_link_tag 'animate', 'bootsnav', 'bootstrap.min', 'font-awesome.min', 'home/style' %>

  <!-- share start -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
  <!-- share end -->

  <%= javascript_include_tag 'jquery-2.1.1.min',
                             'bootstrap.min',
                             'bootsnav' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'respond.min.js', 'html5shiv.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<!-- header start -->
<div id="header">
  <%= render 'share/header' %>
</div>
<!-- header end -->

<!-- jobs start -->
<div class="jam-index-customize jam-index-body">
  <div class="container">
    <div class="row">
      <div class="area-title">
        <h3 class="visible" data-plugin="appear" data-animate="fade" data-repeat="false">招聘职位</h3>
        <p class="desc visible" data-plugin="appear" data-animate="fade" data-repeat="false"> Jobs</p>
        </a>
      </div>

      <div class="index_customize">
        <div class="section">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h3 class="job-title">电话营销职位描述</h3>
              <dl>
                <dt>岗位职责</dt>
                <dd>
                  <p>1．熟练掌握公司各类产品知识及销售话术，为客户提供在线推广和网站增值产品及服务。</p>

                  <p>2．通过电话销售和上门拜访的模式，开发新客户。</p>

                  <p>3．通过电话量、客户覆盖率、客户信息完整度与销售进程等考核方法推动完成客户成交。</p>

                  <p>4．根据公司要求完成销售目标，达成每日、每周、每月的各项关键绩效指标（KPI）。</p>
                </dd>
              </dl>
              <dl>
                <dt>任职资格</dt>
                <dd>
                  <p>1．大专及以上学历，专业不限，22-35岁之间；向往高薪。</p>

                  <p>2．性格开朗热情，抗压力强，有责任心、进取心及团队协作精神。</p>

                  <p>3．良好的沟通能力、倾听理解能力和逻辑思维能力。</p>

                  <p>4．有互联网或电子商务行业经验者优先。</p>
                </dd>
              </dl>
            </div>
            <div class="col-md-6 col-sm-6">
              <h3 class="job-title">市场专员职位描述</h3>
              <dl>
                <dt>岗位职责</dt>
                <dd>
                  <p>1．公司提供的客户资源，对客户进行回访。</p>

                  <p>2．拓展与老客户的业务，建立和维护客户关系。</p>

                  <p>3．通过电话沟通了解客户需求, 寻求销售机会并完成销售业绩。</p>

                  <p>4．按时完成公司下达的任务。</p>

                  <p>5．售后持续跟进、客户反馈的对应解决。</p>

                  <p>6．工程款交付的跟进。</p>
                </dd>
              </dl>
              <dl>
                <dt>任职资格</dt>
                <dd>
                  <p>1．全日制大专及以上学历，喜欢销售工作，普通话标准流利。</p>

                  <p>2．富有开拓精神和良好的团队合作意识，有很强的学习和沟通能力，良好的协调能力。</p>

                  <p>3．较强的独立分析问题和解决问题的能力。</p>

                  <p>4．强烈的责任感和很好的团队合作精神，具备很强的自学能力，能够承受工作压力。</p>

                  <p>5．对工作有激情、执着、敬业, 思维清晰、思维敏捷，有快速的学习能力。</p>

                  <p>6．较好的谈吐，形象好，气质佳。</p>

                  <p>7．敢于挑战高薪，抗压能力强。</p>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jobs end -->

<!-- footer start -->
<div class="footer">
  <%= render 'share/footer' %>
</div>
<!-- footer end -->
</body>
</html>