<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>旺科达 - 售后服务</title>
  <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>" />
  <meta name="keywords" content="深圳，旺科达，深圳旺科达，玻璃十大品牌，专业生产玻璃制造商，玻璃厂家, 出口，外贸，电子视窗片，光学菱镜片，光学球面镜片，光学柱面镜片，水晶彩色镜片，玻璃盖板，玻璃加工" />
  <meta name="description" content="深圳，旺科达，深圳旺科达，玻璃十大品牌，专业生产玻璃制造商，玻璃厂家, 出口，外贸，原厂，专业，材料，肖特材料，B270，K9材料，康宁材料，超白玻璃" />
  <meta name="baidu-site-verification" content="kZBgoRwKlb" />
  <%= stylesheet_link_tag 'animate', 'bootsnav', 'bootstrap.min', 'font-awesome.min', 'home/style' %>

  <!-- share start -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
  <!-- share end -->

  <%= javascript_include_tag 'jquery-2.1.1.min',
                             'bootstrap.min',
                             'bootsnav' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'respond.min.js', 'html5shiv.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<!-- header start -->
<div id="header">
  <%= render 'share/header' %>
</div>
<!-- header end -->

<!-- service start -->
<div class="jam-index-customize jam-index-body">
  <div class="container">
    <div class="row">
      <div class="area-title">
        <h3 class="visible" data-plugin="appear" data-animate="fade" data-repeat="false">售后服务</h3>
        <p class="desc visible" data-plugin="appear" data-animate="fade" data-repeat="false"> Service</p>
        </a>
      </div>

      <div class="index_customize">
        <div class="">
          <div class="service-content">
            <div class="cus_serv">
              <ul class="block">
                <li class="promise">
                  <div class="row">
                    <ul>
                      <li class="ol-md-4 col-xs-4">
                        <%= image_tag('service/seven.png') %>
                        <p class="prop">7天退货保障</p>
                      </li>
                      <li class="ol-md-4 col-xs-4">
                        <%= image_tag('service/exchange.png') %>
                        <p class="prop">15天换货承诺</p>
                      </li>
                      <li class="ol-md-4 col-xs-4">
                        <%= image_tag('service/maintain.png') %>
                        <p class="prop">1年免费维护</p>
                      </li>
                    </ul>
                  <div>
                </li>

                <li>
                  <p> 退货流程</p>
                  <%= image_tag('service/cus_serv.png') %>
                </li>

                <li>
                  <p>邮寄资料</p>
                  <ul class="con_info">
                    <li>收件人：向小姐</li>
                    <li>联系电话：15014146191</li>
                    <li>收件地址：深圳市龙华区大浪街道大浪三合新一村高创德工业区7号A栋2楼</li>
                    <li>邮编：518105</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- service end -->

<!-- footer start -->
<div class="footer">
  <%= render 'share/footer' %>
</div>
<!-- footer end -->
</body>
</html>