<%= form_for [:admin, @dynamic] do |f| %>
  <div style="width: 80%; margin-bottom: 20px;">
    <%= f.label :title, '*标题' %><br>
    <%= f.text_field :title %>
  </div>
  
  <div style="width: 80%; margin-bottom: 20px;">
    <%= f.label :web_url, '*链接地址' %><br>
    <%= f.text_field :web_url, placeholder: '链接地址' %>
  </div>
  
  <div style="width: 80%; margin-bottom: 20px;">
    <%= f.label :description, '*内容' %>
    <%= f.text_area :description, :class => "redactor", :rows => 40, :cols => 120 %>
  </div>


  
  <%= f.submit '提交' %>
<% end %>