<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>旺科达 - 产品中心</title>
  <link rel="shortcut icon" href="<%= image_path('share/favicon.ico') %>" />
  <meta name="keywords" content="深圳，旺科达，深圳旺科达，玻璃十大品牌，专业生产玻璃制造商，玻璃厂家, 出口，外贸，电子视窗片，光学菱镜片，光学球面镜片，光学柱面镜片，水晶彩色镜片，玻璃盖板，玻璃加工" />
  <meta name="description" content="深圳，旺科达，深圳旺科达，玻璃十大品牌，专业生产玻璃制造商，玻璃厂家, 出口，外贸，原厂，专业，材料，肖特材料，B270，K9材料，康宁材料，超白玻璃" />
  <meta name="baidu-site-verification" content="M5LupMKJIr" />
  <%= stylesheet_link_tag 'animate', 'bootsnav', 'bootstrap.min', 'font-awesome.min', 'home/style' %>
  <!-- share start -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
  <!-- share end -->

  <%= javascript_include_tag 'jquery-2.1.1.min',
                             'bootstrap.min',
                             'bootsnav' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'respond.min.js', 'html5shiv.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<!-- header start -->
<div id="header">
  <%= render 'share/header' %>
</div>
<!-- header end -->

<!-- products start -->
<div class="jam-index-product jam-index-body">
  <div class="container">
    <div class="row">
      <div class="area-title">
        <h3 class="visible" data-plugin="appear" data-animate="fade" data-repeat="false">产品中心</h3>
        <p class="desc visible" data-plugin="appear" data-animate="fade" data-repeat="false">Products list</p>
      </div>

      <div class="index_product grey-product" >
        <div class="col-md-6 index-product-cover">
          <a href="javascript:void(0);">
            <%= image_tag('share/products.png') %>
          </a>
        </div>

      <% @products.each_with_index do |product, i| %>
        <div data-plugin='appear' data-animate='fade' data-repeat='false' class="col-md-3 col-xs-6 index-product-item">
          <div class="widget widget-shadow">
            <figure class="widget-header cover">
              <div id="products_<%= i %>_carousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#products_<%= i %>_carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#products_<%= i %>_carousel" data-slide-to="1"></li>
                  <li data-target="#products_<%= i %>_carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <%- product.images.each_with_index do |image, index| -%>
                  <div class="item <%= index == 0 ? "active" : "" %>">
                    <div class="center">
                      <a href="/products/<%= product.id %>" target='_self'>
                        <%= image_tag image.url(:thumb) %>
                      </a>
                    </div>
                  </div>
                <%- end -%>
                </div>
              </div>
            </figure>
            <h4 class="widget-title">
              <a href="/products/<%= product.id %>">
                <%=h product.title %>
              </a>
              <p><%= truncate(strip_tags(product.intro), length: 30) %></p>
              <span class="btn-detail">
                <a href="/products/<%= product.id %>">查看详情</a>
              </span>
            </h4>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <%= paginate @products %>
  </div>
</div>
<!-- products end -->

<!-- footer start -->
<div class="footer">
  <%= render 'share/footer' %>
</div>
<!-- footer end -->
</body>
</html>